
.booking 
	margin-top: em(300px)


.booking-info
	background-color: #ffffff
	box-shadow: 0 2px 41px 0 rgba(206, 206, 210, 0.5)
	padding: em(41px) em(34px)
	p
		display: block
		opacity: 0.8
		font-family: Lora
		font-style: italic
		font-size: 18px
		line-height: 1.9
		color: #000000
	.button
		margin-top: em(27px)
		border: solid 1px red
		color: red