.soup
	font-family: Lora, $georgia 

.product-image
	position: relative
	text-align: center

.product-image img 
	width: 100%
	height: auto
	position: absolute
	top: em(-200px)
	left: em(-25px)

.product-info
	font-family: Lora, $georgia
	text-align: right
	padding: em(120px) em(24px) em(50px) em(24px)
	width: 65%
	margin-left: auto
	
    h4
		font-size: em(24px)
	p
		opacity: 0.8
		font-size: em(18px)
		line-height: 1.9
		color: $black
		font-style: italic

.button
	display: inline-block
	border-radius: em(100px)
	border: solid 1px $blue-btn
	padding: em(18px) em(29px) em(15px) em(58px)
	font-family: PT Sans Caption, $georgia
	font-size: 14px
	letter-spacing: 2.6px
	color: $blue-btn

.citate
	font-size: em(20px)
	line-height: 1.9
	color: $black
	width: 62%
	text-align: left
	font-family: Lora, $georgia
	font-style: italic
	padding-left: em(30px)