@import ../bourbon/bourbon
@import normalize.scss
@import fonts.sass
@import media.sass
@import vars.sass
@import blog.sass
@import booking.sass
@import event.sass
@import map.sass
@import salad.sass
@import soup.sass



*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

//ALWAYS END

//Load Libs SASS

@import ../libs/font-awesome/css/font-awesome.sass


.main_head
	width: 1024px
	height: 600px
	background-image: url("../img/header_img.png")